/* ScreenReader Only */
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  overflow: hidden;
}

/* Default box-sizing */
html{
  box-sizing: border-box;
}

/* Inheritance box-sizing */
*, *::before, *::after{
  box-sizing: inherit;
  font: inherit;
}

/* Remove margin */
body{
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* HyperLink Style */
a{
  color: inherit;
  text-decoration: none;
}

/* Fieldset Style */
fieldset{
  border: 0;
  padding: 0;
  margin: 0;
}

/* Focus Outline Style */
a,
input,
button {
  outline: 0;
}

:focus {
  outline: none;
}

:focus-visible {
  /* outline: 2px solid #5f0081; */
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 2px #5f0081;
  box-shadow: 0 0 0 2px #5f0081;
}

:focus:not(:focus-visible) {
  border-radius: 0;
  box-shadow: none;
}

/* Container */
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 20%;
  min-width: 200px;
}

.logo img{
  max-width: 100%;
  height: auto;
}

.noticeMessage{
  font-size: 4rem;
  font-weight: 700;
  color: #515151;
}

@media screen and (max-width: 768px){
  .noticeMessage{
    font-size: 2rem;
  }
}