/* ScreenReader Only */
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  overflow: hidden;
}

/* Body Font Family */
body{
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* Navbar */
.navbar-brand{
  width: 315px;
}

.navbar-brand img{
  max-width: 100%;
  height: auto;
}

.navbar-nav{
  margin-left: auto;
  margin-right: 0;
}

.navbar-collapse{
  flex-grow: 0;
}

/* main */
.main{
  margin-top: 85px;
}

/* @media  screen and (max-width: 768px){
  .
} */


@media screen and (max-width: 1023px){
  .container{
    /* margin-left: 24px;
    margin-right: 24px; */
    padding-left: 24px;
    padding-right: 24px;
  }
  .navbar-brand{
    width: 200px;
  }
}